/*
 * Copyright (c) 2022 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
 */

/ {
	chosen {
		zephyr,console = &cdc_acm_uart0;
	};
	
	charging {
		compatible = "charging";
		charging-gpios = <&gpio1 5 GPIO_ACTIVE_LOW>;
	};
        
	leds {
		compatible = "gpio-leds";
		led_red: led_red {
			gpios = <&gpio0 31 GPIO_ACTIVE_LOW>;
			label = "Red LED";
		};
		led_green: led_green {
			gpios = <&gpio1 13 GPIO_ACTIVE_LOW>;
			label = "Green LED";
		};
		led_blue: led_blue {
			gpios = <&gpio1 11 GPIO_ACTIVE_LOW>;
			label = "Blue LED";
		};
	};
	
	buttons {
		compatible = "gpio-keys";
		button_usr: button_usr {
			gpios = <&gpio1 15 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "User Push button";
		};
	};

	/* These aliases are provided for compatibility with samples */
	aliases {
		led0 = &led_red;
		led1 = &led_green;
		led2 = &led_blue;
		sw0 = &button_usr;
		bootloader-led0 = &led_red;
	};
};

&zephyr_udc0 {
	cdc_acm_uart0: cdc_acm_uart0 {
		compatible = "zephyr,cdc-acm-uart";
	};
};

&ipc0 {
	zephyr,buffer-size = <1536>;
};
